In [1]:
import pandas as pd
import numpy as np

### CSV file exported from MySQL workbench

In [2]:
csv_df = pd.read_csv('sample.csv')

In [3]:
csv_df.head()
csv_df.shape

(4221, 7)

### Using mysql connector - direct

In [4]:
import mysql.connector

In [5]:
connection = mysql.connector.MySQLConnection(host = 'localhost',
                                             user = 'root',
                                             password = 'root',
                                             database='farmers_market')

cursor = connection.cursor()

In [6]:
query = 'SELECT * FROM product'

In [7]:
cursor.execute(query)

In [8]:
results = []
for r in cursor:
    results.append(r)

In [9]:
msc_df = pd.DataFrame(results, columns=[v[0] for v in cursor.description])

In [10]:
msc_df.head()
msc_df.shape

(23, 5)

In [11]:
cursor.close()
connection.close()

### Using sqlalchemy - direct

In [12]:
import sqlalchemy
from sqlalchemy import create_engine

In [13]:
con_string = 'mysql+pymysql://root:root@localhost/farmers_market'
engine = create_engine(con_string)
engine

Engine(mysql+pymysql://root:***@localhost/farmers_market)

In [14]:
query = 'SELECT * FROM product'

In [15]:
pd.read_sql(query, engine).shape
df = pd.read_sql(query, engine)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           23 non-null     int64
 1   product_name         23 non-null     object
 2   product_size         22 non-null     object
 3   product_category_id  23 non-null     int64
 4   product_qty_type     21 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.0+ KB

In [17]:
df[df.isnull().any(axis=1)] # return rows with NaN values

,product_id,product_name,product_size,product_category_id,product_qty_type
13,14,Red Potatoes,None,1,None
14,15,Red Potatoes - Small,,1,None

### Writing to database - not advisable

In [18]:
sizes_df = df[df['product_size'].isin(['small', 'medium', 'large'])] # subset

In [19]:
sizes_df.to_sql('product_sizes', engine, index=False) # create new table to database

7

In [20]:
sizes_df.to_sql('product_sizes', engine, index=False, if_exists='append') # same data append to an existing table

7

In [21]:
from sqlalchemy import types

In [22]:
df1 = pd.read_sql('SELECT * FROM customer_purchases', engine)

In [23]:
df1.dtypes
df1['transaction_time'] = df1['transaction_time'].astype('string').apply(lambda x: x[-8:])

In [24]:
# making sure the data types in the database are correct
data = [
    types.INT(),
    types.INT(),
    types.DateTime(),
    types.INT(),
    types.DECIMAL(16, 2),
    types.DECIMAL(precision=16, scale=2),
    types.Time()
]

data_types = dict(zip(list(sizes_df.columns), data))

In [25]:
df1.to_sql('total_quantity', engine, index=False, if_exists='replace', dtype=data_types) # updating the table or replace

4221